.main_body {
    font-family: Akatab;
    font-size: 0.7rem;
}

.btn {
    font-family: Akatab;
    font-size: 0.7rem;
}

.dropdown-menu {
    font-family: Akatab;
    font-size: 0.7rem;
}

.maindiv {
    padding: 1em 5em;
}

table {
    padding: 2px;
}

.spaceformessage {
    position: fixed;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
}

table tbody {
    counter-reset: rowNumber;
}

table tbody tr {
    counter-increment: rowNumber;
}

.counterCell:before {
    content: counter(rowNumber);
    min-width: 1em;
    margin-right: 0.5em;
}

.item-table {
    width: 100%;
}

.login-container {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
}

.login-button:hover {
    background-color: #0056b3;
}

.login-form p {
    margin-bottom: 15px;
}

.login-form p input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.login-form p label {
    display: block;
    margin-bottom: 5px;
}

.login-logo {
    max-width: 100%;
    display: block;
    margin: auto;
}

.divider:after,
.divider:before {
    content: "";
    flex: 1;
    height: 1px;
    background: #eee;
}

.h-custom {
    height: calc(100% - 73px);
}

@media (max-width: 450px) {
    .h-custom {
        height: 100%;
    }
}

table.dataTable thead .sorting:after,
table.dataTable thead .sorting:before,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_asc_disabled:before,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_desc:before,
table.dataTable thead .sorting_desc_disabled:after,
table.dataTable thead .sorting_desc_disabled:before {
  bottom: .5em;
}
