{% extends "neutrovisinternal/login_layout.html" %}
{% load static %}


{% block body %}
<section class="vh-80 mt-5">
    <div class="container-fluid h-custom">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-md-9 col-lg-6 col-xl-5">
                <img src="{% static 'neutrovisinternal/login_brand.jpeg' %}"
                     class="img-fluid" alt="Sample image">
            </div>
            <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
                <a href="{% url 'login' %}" class="btn btn-sm btn-block btn-outline-warning">Back</a>
                <div class="text-center text-lg-start mb-4 pt-2">
                    <h2 class="display-4" style="text-align: center;">Neutrovis Intranet</h2>
                    <h4 style="text-align: center;">Password Reset</h4>
                </div>
                <form action="/password_reset_request" method="post">
                    {% csrf_token %}
                    <h6>
                        Forgotten your password? Enter your email address below and
                        we will send you the reset instructions.
                    </h6>
                    <div class="form-floating mb-3">
                        <input type="email" class="form-control" id="email" name="email" placeholder="name@example.com">
                        <label for="email">Email address</label>
                    </div>
                    <hr>
                        {{ form.captcha }}
                    <div class="text-center text-lg-start mt-4 pt-2">
                        <button type="submit" class="btn btn-outline-primary btn-lg"
                                style="padding-left: 2.5rem; padding-right: 2.5rem;">Reset Password
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}

