{% extends "neutrovisinternal/layout.html" %}

{% block title %}Department{% endblock %}

{% block body %}
<div class="maindiv">
    <h3>Department</h3>
    <table id="display_department" class="table table-sm table-bordered table-stripped w-auto">
        <thead class="thead-dark">
        <tr>
            <th>No.</th>
            <th>Department</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        {% for result in results %}
        <tr>
            <td>{{forloop.counter}}</td>
            <td>{{result.name}}</td>
            <td>
                <form action="/delete_department" method="post">
                    {% csrf_token %}
                    <input type="text" name="department_id" value="{{ result.id }}" hidden>
                    <button class="btn btn-block btn-sm btn-danger" type="submit">Delete</button>
                </form>
            </td>
        </tr>
        {% endfor %}
        <tr>
            <form action="/setting_department" method="POST">
                {% csrf_token %}
                <td>New</td>
                <td>{{ department_form.name }}</td>
                <td><input type="submit" value="Submit" class="btn btn-outline-primary"/></td>
            </form>
        </tr>
        </tbody>
    </table>
</div>
{% endblock %}
